@use "../../0-helpers/variables" as variables;
@use "../../0-helpers/mixins" as mix;

.play-cell {
  @include mix.centered-flex;
  background: variables.$semi-dark-navy;
  min-width: 96px;
  max-width: 140px;
  width: 100%;
  // height: 96px;
  aspect-ratio: 1/1;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 10px;

  position: relative;
  cursor: pointer;
}

.cross,
.circle,
.cross--outline,
.circle--outline {
  display: none;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  cursor: pointer;

  width: 64px;
  height: 64px;

  // circle-outline: 66px
}

.main-game.mg--cross-turn > .play-cell:hover > .cross--outline {
  display: block;
}

.main-game.mg--circle-turn > .play-cell:hover > .circle--outline {
  display: block;
}

.play-cell[data-value="1"] > .cross {
  display: block;
}
.play-cell[data-value="2"] > .circle {
  display: block;
}

// .play-cell[data-turn-flag="1"]:hover > .cross--outline {
//   display: block;
// }

// .play-cell[data-turn-flag="2"]:hover > .circle--outline {
//   display: block;
// }

/* Experimental */
.play-cell.active--cross > .cross--outline {
  display: block;
}

.play-cell.active--circle > .circle--outline {
  display: block;
}
