@use "../../0-helpers/variables" as variables;
@use "../../0-helpers/mixins" as mix;
@use "base-result";
@use "settings";

.modal-wrapper {
  @include mix.centered-flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);

  visibility: hidden;
  opacity: 0;
}

.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}

.modal-body {
  background-color: variables.$semi-dark-navy;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.8125rem 0;
}

.modal__generic-text {
  font-family: variables.$font-main;
   flex: 0 1 auto;

  font-family: variables.$font-main;
  font-weight: 700;
  font-size: clamp(24px, 5.2vw, 40px);
  line-height: 1.25;
  letter-spacing: 2.5px;
  text-align: center;

  color: variables.$light-blue;
  // margin-bottom: 1em;
}

.modal-countdown .modal__generic-text {
  margin-bottom: 1rem;
}

.modal-countdown #countdown {
  font-family: variables.$font-main;
  font-weight: 700;
  font-size: clamp(24px, 5.2vw, 40px);
  line-height: 1.25;
  color: variables.$light-yellow-hover;
}

.modal__button-group {
  display: flex;
}

// Only 1 css line for modal audio 
.modal-audio__prompt {
  font-size: clamp(24px, 5.2vw, 36px);
  margin-bottom: 0.5em;
}

// Only 1 css line modal result tied:
.modal-tied .modal__generic-text,
.modal-reset .modal__generic-text,
.modal-restore .modal__generic-text {
  margin-bottom: 0.5em;
  font-size: clamp(31px, 5.2vw, 40px)
}

.modal-restore .btn--denied,
.modal-reset .btn--denied {
  min-width: 120px;
}