@use "btnReset";
@use "btnsNewGame";
@use "btnModals";
@use "btnSettings";

.btn {
  border: none;
  border-radius: 15px;
  padding: 1rem 0;

  cursor: pointer;
}

.btn__text {
  font-weight: bold;
  font-size: 1rem;
}


#settings {
  grid-area: settings;
  display: flex;
  justify-content: center;
  align-items: center;
}

