/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-light-blue: #31c3bd;
  --color-light-blue-hover: #65e9e4;
  --color-light-yellow: #f2b137;
  --color-light-yellow-hover: #ffc860;
  --color-dark-navy: #1a2a33;
  --color-semi-dark-navy: #1f3641;
  --color-silver: #a8bfc9;
  --color-silver-hover: #dbe8ed;
}

a {
  color: unset;
  font-style: unset;
}

html {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

html * {
  flex: 1 1 auto;
}

.body {
  background: #1a2a33;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 508px;
  font-family: "Outfit", sans-serif;
}

.start-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.start-menu__logo {
  margin-bottom: 2rem;
  align-self: center;
}

.start-menu__mark-select-container {
  background-color: #1f3641;
  padding: 1.5rem;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.start-menu__prompt,
.start-menu__reminder {
  color: #a8bfc9;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.start-menu__reminder {
  margin-top: 1.5rem;
}

.start-menu__mark-choices {
  display: flex;
  padding: 9px;
  background-color: #1a2a33;
  border-radius: 15px;
  gap: 0.2rem;
}

.start-menu__cross-mark,
.start-menu__circle-mark {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  fill: #a8bfc9;
  padding: 11px 0;
  border-radius: 10px;
}

.start-menu__cross-mark--selected,
.start-menu__circle-mark--selected {
  fill: #1a2a33;
  background-color: #a8bfc9;
}

.btn {
  border: none;
  border-radius: 15px;
  padding: 1rem 0;
}

.btn__text {
  font-weight: bold;
  font-size: 1rem;
}

.btn--new-game-cpu {
  background-color: #f2b137;
  box-shadow: inset 0px -8px 0px #cc8b13;
  margin-bottom: 1rem;
}

.btn--new-game-player {
  background-color: #31c3bd;
  box-shadow: inset 0px -8px 0px #118c87;
  margin-bottom: 1rem;
}

.main-game {
  padding: 10px;
}

.main-game__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.25rem;
}

.main-game__logo {
  flex: 0 0 72px;
}

.main-game__turn-indicator {
  color: #a8bfc9;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.285;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f3641;
  border-radius: 5px;
  box-shadow: inset 0px -4px 0px #10212a;
  flex: 0 0 96px;
  padding: 0.56rem 0 0.81rem 0;
}

.main-game__svg {
  fill: #a8bfc9;
  display: flex;
  justify-content: center;
}

.main-game__reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #1f3641;
  flex: 0 0 40px;
  height: 40px;
  background-color: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 5px;
}

.main-game__play-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 1.25rem;
}

.main-game__play-cell {
  width: 96px;
  height: 96px;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 10px;
}

.main-game__scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  color: #1a2a33;
  font-size: 14px;
  line-height: 1.286;
}

.main-game__cross-scoreboard,
.main-game__ties-scoreboard,
.main-game__circle-scoreboard {
  width: 96px;
  text-align: center;
  border-radius: 10px;
  padding: 12px 0;
}

.main-game__cross-scoreboard {
  background-color: #31c3bd;
}

.main-game__ties-scoreboard {
  background-color: #a8bfc9;
}

.main-game__circle-scoreboard {
  background-color: #f2b137;
}

.main-game__cross-counter,
.main-game__circle-counter,
.main-game__ties-counter {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 1.25px;
}

.modal {
  border: 1px solid yellow;
  color: #a8bfc9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 228px;
}

.modal__message {
  border: 1px solid red;
  flex: 0 1 auto;
  margin-bottom: 1rem;
}

.modal__win-announcement {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 1.5px;
  border: 1px solid red;
  flex: 0 1 auto;
  margin-bottom: 1.25rem;
}

.modal__svg {
  flex: 0 0 auto;
  margin-right: 0.25rem;
}

.modal__btn-group {
  display: flex;
  border: 1px solid red;
  flex: 0 1 auto;
  gap: 1rem;
}

.modal__btn-left,
.modal__btn-right {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 10px;
  padding: 1rem;
  flex: 1 1 auto;
}

.modal__btn-left {
  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  min-width: 76px;
  max-width: 306px;
}

.modal__btn-right {
  background: #f2b137;
  box-shadow: inset 0px -4px 0px #cc8b13;
  min-width: 146px;
  max-width: 151px;
}

/*# sourceMappingURL=main.css.map */
