@use "./../../0-helpers/variables" as variables;

.game-tokens {
  background-color: variables.$semi-dark-navy;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  padding: 1.5rem;
  margin-bottom: 2rem;
}

.game-tokens__prompt,
.game-tokens__reminder {
  color: variables.$silver;
  font-weight: bold;

  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.game-tokens__reminder {
  margin-top: 1.5rem;
}

.game-tokens__alert {
  display: none;

  color: variables.$red;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.game-tokens__alert.active {
  display: block;
}

.game-tokens__choices {
  display: flex;

  padding: 9px;
  background-color: variables.$dark-navy;
  border-radius: 15px;

  gap: 0.2rem;
  cursor: pointer;
}

.choice-token{
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  fill: variables.$silver;

  padding: 11px 0;
  border-radius: 10px;

  width: 32px;
  height: 32px;
}

.choice-token__svg {
  width: 32px;
  height: 32px;
  pointer-events: none;
}

.choice-token:hover {
  fill: variables.$dark-navy;
  background-color: variables.$silver;
}

.game-tokens__choices.cross-selected > .choice-token.cross {
  background-color: variables.$light-blue;
  fill: variables.$dark-navy;
}
.game-tokens__choices.cross-selected > .choice-token.cross:hover {
  background-color: variables.$light-blue-hover;
}

.game-tokens__choices.circle-selected > .choice-token.circle {
  background-color: variables.$light-yellow;
  fill: variables.$dark-navy;
}

.game-tokens__choices.circle-selected > .choice-token.circle:hover {
  background-color: variables.$light-yellow-hover;
}
