@use "./../0-helpers/variables" as variables;
@use "./../3-elements/elements-index";
@use "start-menu";
@use "main-game";

.body {
  background: variables.$dark-navy;
  min-height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 508px;

  font-family: variables.$font-main;
  margin: 0 auto;
}
