@use "./../0-helpers/variables" as variables;
@use "./../0-helpers/mixins" as mix;

.main-game {
  display: none;
  grid-template-areas:
    "logo turn reset"
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3"
    "cross ties circle"
    'spacer settings spacer2';
  // justify-content: center;
  gap: 20px;
  padding: 1.5em;
}

.main-game.active {
  display: grid;
}

.main-game__logo {
  grid-area: logo;
}

.main-game__logo-svg{
  width: 72px;
  height: 32px;
}

#cell-0 {
  grid-area: a1;
}
#cell-1 {
  grid-area: a2;
}
#cell-2 {
  grid-area: a3;
}
#cell-3 {
  grid-area: b1;
}
#cell-4 {
  grid-area: b2;
}
#cell-5 {
  grid-area: b3;
}
#cell-6 {
  grid-area: c1;
}
#cell-7 {
  grid-area: c2;
}
#cell-8 {
  grid-area: c3;
}

#cell-0, #cell-1, #cell-2 {
  justify-self: right;
}

#cell-3, #cell-4, #cell-5 {
  justify-self: center;
}

#cell-6, #cell-7, #cell-8 {
  justify-self: left;
}
