@use "../0-helpers/variables" as variables;
html {
  display: flex;

  justify-content: center;
  align-items: center;
}

html * {
  flex: 1 1 auto;
}

.body {
  background: variables.$dark-navy;
  min-height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 508px;
}
