@use "../0-helpers/variables" as variables;

.body {
  background: variables.$dark-navy;
  min-height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 508px;

  font-family: variables.$font-main;
  margin: 0 auto;
}
