@use "../0-helpers/variables" as variables;
@use "../0-helpers/mixins" as mix;

.main-game {
  display: none;
  grid-template-areas:
    "logo turn reset"
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3"
    "cross ties circle";
  // justify-content: center;
  gap: 20px;
  padding: 1.5em;
}

.main-game.active {
  display: grid;
}

.logo {
  grid-area: logo;
}

.logo-svg--mg {
  width: 72px;
  height: 32px;
}

#a1 {
  grid-area: a1;
}
#a2 {
  grid-area: a2;
}
#a3 {
  grid-area: a3;
}
#b1 {
  grid-area: b1;
}
#b2 {
  grid-area: b2;
}
#b3 {
  grid-area: b3;
}
#c1 {
  grid-area: c1;
}
#c2 {
  grid-area: c2;
}
#c3 {
  grid-area: c3;
}

#a2,
#b2,
#c2 {
  justify-self: center;
}
#a3,
#b3,
#c3 {
  justify-self: flex-end;
}

.main-game.visible {
  display: grid;
}
