@use "../0-helpers/variables" as variables;
@use "../0-helpers/mixins" as mix;

.main-game {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "logo turn reset"
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3"
    "cross ties circle";
  justify-content: center;
  gap: 20px;
}

.main-game__logo {
  width: 72px;
  height: 32px;

  grid-area: logo;

  border: 1px solid white;
}

.main-game__turn-indicator {
  border: 1px solid white;
  grid-area: turn;

  display: flex;
  justify-content: center;
}

.turn-indicator__svg-wrapper {
  @include mix.centered-flex;
  flex: 1 1 auto;
  gap: 0.5625em;

  background: variables.$semi-dark-navy;
  box-shadow: inset 0px -4px 0px #10212a;
  border-radius: 5px;

  max-width: 96px;
  padding: 0.5625rem 0 0.8125rem 0;
}

.main-game__indicator-svg {
  width: 16px;
  height: 16px;

  fill: variables.$silver;
}

.main-game__indicator-text {
  color: variables.$silver;
  font-size: 0.875rem;
  line-height: 1.26;
}

.main-game__reset-btn {
  @include mix.centered-flex;
  border: 1px solid white;
}

.reset-btn__svg-wrapper {
  @include mix.centered-flex;
  background: variables.$silver;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 5px;

  width: 40px;
  height: 40px;
}

.main-game__reset-svg {
  width: 16px;
  height: 16px;
}

#a1 {
  grid-area: a1;
}
#a2 {
  grid-area: a2;
}
#a3 {
  grid-area: a3;
}
#b1 {
  grid-area: b1;
}
#b2 {
  grid-area: b2;
}
#b3 {
  grid-area: b3;
}
#c1 {
  grid-area: c1;
}
#c2 {
  grid-area: c2;
}
#c3 {
  grid-area: c3;
}

.main-game__play-cell {
  @include mix.centered-flex;
  background: variables.$semi-dark-navy;
  width: 96px;
  height: 96px;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 10px;
}

.main-game__cross-scoreboard,
.main-game__ties-scoreboard,
.main-game__circle-scoreboard {
  @include mix.centered-flex;
  flex-direction: column;

  border-radius: 10px;
  padding: 0.75rem 0;
}
.main-game__cross-scoreboard {
  grid-area: cross;
  background: variables.$light-blue;
}

.main-game__ties-scoreboard {
  grid-area: ties;
  background: variables.$silver;
}

.main-game__circle-scoreboard {
  grid-area: circle;
  background: variables.$light-yellow;
}

.main-game__cross-text,
.main-game__ties-text,
.main0game__circle-text {
  font-size: 0.875rem;
  line-height: 1.2857;
}

.main-game__cross-counter,
.main-game__ties-counter,
.main-game__circle-counter {
  font-size: 1.25rem;
  line-height: 1.26;
  display: block;
}
