@use "../0-helpers/variables" as variables;

.start-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // border: 1px solid white;

  padding: 1.5rem;
}

.start-menu.hidden {
  display: none;
}

.start-menu__logo {
  margin-bottom: 2rem;
  align-self: center;
}

.start-menu__token-select-container {
  background-color: variables.$semi-dark-navy;
  padding: 1.5rem;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;
}

.start-menu__prompt,
.start-menu__reminder {
  color: variables.$silver;
  font-weight: bold;

  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.start-menu__reminder {
  margin-top: 1.5rem;
}

.start-menu__reminder-token {
  color: variables.$red;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  display: none;
}

.start-menu__reminder-token.active {
  display: block;
}
.start-menu__token-choices {
  display: flex;

  padding: 9px;
  background-color: variables.$dark-navy;
  border-radius: 15px;

  gap: 0.2rem;
}

.start-menu__cross-token,
.start-menu__circle-token {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  fill: variables.$silver;

  padding: 11px 0;
  border-radius: 10px;
}

.start-menu__cross-token:hover,
.start-menu__circle-token:hover,
.start-menu__token--selected,
.start-menu__token--selected {
  fill: variables.$dark-navy;
  background-color: variables.$silver;
}

.start-menu__cross-token.start-menu__token--selected {
  background-color: variables.$light-blue;
}
.start-menu__cross-token.start-menu__token--selected:hover {
  background-color: variables.$light-blue-hover;
}

.start-menu__circle-token.start-menu__token--selected {
  background-color: variables.$light-yellow;
}

.start-menu__circle-token.start-menu__token--selected:hover {
  background-color: variables.$light-yellow-hover;
}

.btn {
  border: none;
  border-radius: 15px;
  padding: 1rem 0;
}

.btn__text {
  font-weight: bold;
  font-size: 1rem;
}

.btn--new-game-cpu {
  background-color: variables.$light-yellow;
  box-shadow: inset 0px -8px 0px #cc8b13;
  margin-bottom: 1rem;

  transition: transform 0.2s ease-in-out;
}

.btn--new-game-cpu:hover {
  background-color: variables.$light-yellow-hover;
  transform: scale(1.01);
}

.btn--new-game-player {
  background-color: variables.$light-blue;
  box-shadow: inset 0px -8px 0px #118c87;
  margin-bottom: 1rem;

  transition: transform 0.2s ease-in-out;
}

.btn--new-game-player:hover {
  background-color: variables.$light-blue-hover;
  transform: scale(1.01);
}
