@use "../0-helpers/variables" as variables;

.start-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.start-menu.active {
  display: flex;
}

.logo {
  align-self: center;
}

.logo__svg--sm {
  height: 32px;
  width: 72px;
  margin-bottom: 2rem;
}

.player-tokens {
  background-color: variables.$semi-dark-navy;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  padding: 1.5rem;
  margin-bottom: 2rem;
}

.pt__prompt,
.pt__reminder {
  color: variables.$silver;
  font-weight: bold;

  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.pt__reminder {
  margin-top: 1.5rem;
}

.pt__alert {
  display: none;

  color: variables.$red;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.pt__alert.active {
  display: block;
}

.pt__choices {
  display: flex;

  padding: 9px;
  background-color: variables.$dark-navy;
  border-radius: 15px;

  gap: 0.2rem;
  cursor: pointer;
}

.pt__cross,
.pt__circle {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  fill: variables.$silver;

  padding: 11px 0;
  border-radius: 10px;

  width: 32px;
  height: 32px;
}

.pt__cross-svg,
.pt__circle-svg {
  width: 32px;
  height: 32px;
  pointer-events: none;
}

.pt__cross:hover,
.pt__circle:hover {
  fill: variables.$dark-navy;
  background-color: variables.$silver;
}

.pt__choices.pt__choices--cross-selected > .pt__cross {
  background-color: variables.$light-blue;
  fill: variables.$dark-navy;
}
.pt__choices.pt__choices--cross-selected > .pt__cross:hover {
  background-color: variables.$light-blue-hover;
}

.pt__choices.pt__choices--circle-selected > .pt__circle {
  background-color: variables.$light-yellow;
  fill: variables.$dark-navy;
}

.pt__choices.pt__choices--circle-selected > .pt__circle:hover {
  background-color: variables.$light-yellow-hover;
}

.btn {
  border: none;
  border-radius: 15px;
  padding: 1rem 0;
}

.btn__text {
  pointer-events: none;
}